body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#idioms {
  overflow: scroll;
}

.idiom-row {
  width: 100vw;
  margin: 0 auto;
  animation: stretchWidth 5s infinite;
  -webkit-animation: stretchWidth 5s infinite;
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

.idiom-row:hover {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

#backward {
  z-index: -50;
  position: fixed;
  left: 0;
  bottom: 0;
  fill: blue;
}

#forward {
  fill: red;
  mix-blend-mode: exclusion;
}

@keyframes stretchWidth {
  0% {
    width: 100vw;
  }
  50% {
    width: 30vw;
  }
  100% {
    width: 100vw;
  }
}
