body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#idioms {
  overflow: scroll;
}

.idiom-row {
  width: 100vw;
}

#backward {
  z-index: -50;
  position: fixed;
  left: 0;
  bottom: 0;
  fill: blue;
}

#forward {
  fill: red;
  mix-blend-mode: exclusion;
}
