body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.top {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  background: linear-gradient(#fff, rgba(0, 0, 0, 0));
}

#idioms {
  overflow: scroll;
}

.idiom-row {
  width: 100vw;
  margin: 0 auto;
  animation: stretchWidth 5s infinite;
  -webkit-animation: stretchWidth 5s infinite;
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

.idiom-row:hover {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

#backward {
  z-index: -50;
  position: fixed;
  left: 0;
  bottom: 0;
  fill: blue;
}

#forward {
  fill: red;
  mix-blend-mode: exclusion;
}

@keyframes stretchWidth {
  0% {
    width: 100vw;
  }
  50% {
    width: 30vw;
  }
  100% {
    width: 100vw;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
