@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');
@font-face {
  font-family: 'Songti SC';
  src: url('/Songti\ SC\ Regular.ttf') format('truetype');
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  scrollbar-width: none;
  cursor: default;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100vw;
  /* height: 100vh; */
  height: calc(100vh - env(safe-area-inset-bottom));
  max-height: calc(100vh - env(safe-area-inset-bottom));
}

/* Individual SVG rows */
.idiom-row {
  width: 100vw;
  margin: 0 auto;
  animation: stretchWidth 5s infinite;
  -webkit-animation: stretchWidth 5s infinite;
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

@media (hover: hover) {
  .idiom-row:hover {
    -webkit-animation-play-state: running;
    animation-play-state: running;
  }
}

svg {
  font-family: 'Songti SC', 'Noto Serif SC', serif;
}

text {
  font-size: 90px;
}

/* fixed position centered dot on page */
#dot {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffd102;
  cursor: pointer;
  transition: background-color 0.5s linear;
}

@media (hover: hover) {
  #dot:hover {
    background-color: #d72323;
  }

  #dot:hover:after {
    content: 'stop';
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: italic;
    text-align: center;
    font-weight: bold;
  }
}

/* top layer, scroll backward */
#backward {
  z-index: 50;
  position: fixed;
  left: 0;
  bottom: 0;
  fill: #d72323;
  pointer-events: none;
}

/* bottom layer, scroll forward */
#forward {
  fill: #101010;
  animation: textColor 30s linear 0.01s infinite;
  -webkit-animation: textColor 30s linear 0.01s infinite;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

@keyframes stretchWidth {
  0% {
    width: 100vw;
  }
  50% {
    width: 30vw;
  }
  100% {
    width: 100vw;
  }
}

@keyframes textColor {
  0% {
    fill: #101010;
  }
  50% {
    fill: transparent;
  }
  100% {
    fill: #101010;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
