@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');
@font-face {
  font-family: 'Songti SC';
  src: url('/Songti\ SC\ Regular.ttf') format('truetype');
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  scrollbar-width: none;
  cursor: default;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

/* Individual SVG rows */
.idiom-row {
  width: 100vw;
  margin: 0 auto;
  animation: stretchWidth 8s infinite ease-in-out;
  -webkit-animation: stretchWidth 8s infinite ease-in-out;
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

@media (hover: hover) {
  .idiom-row-parent:hover .idiom-row {
    -webkit-animation-play-state: running;
    animation-play-state: running;
  }
}

svg {
  font-family: 'Songti SC', 'Noto Serif SC', serif;
}

text {
  font-size: 90px;
}

#interpreter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  min-width: 200px;
  max-width: 300px;
  height: 150px;
  background-color: #ffdf1e;
  color: #d72323;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  border: 2px solid #d72323;
  transition: visibility 0s, opacity 0.1s linear;
}

#interpreter-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #ffdf1e;
  color: #d72323;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

/* top layer, scroll backward */
#backward {
  z-index: 50;
  position: fixed;
  left: 0;
  bottom: 0;
  fill: #d72323;
  pointer-events: none;
}

/* bottom layer, scroll forward */
#forward {
  fill: #eed8d8;
  /* fill: #ffd102; */
  /* animation: textColor 30s linear 0.01s infinite;
  -webkit-animation: textColor 30s linear 0.01s infinite;
  -webkit-animation-play-state: running;
  animation-play-state: running; */
}

@keyframes stretchWidth {
  0% {
    width: 100vw;
  }
  50% {
    width: 30vw;
  }
  100% {
    width: 100vw;
  }
}

@keyframes textColor {
  0% {
    fill: #101010;
  }
  50% {
    fill: transparent;
  }
  100% {
    fill: #101010;
  }
}

/* loading screen that covers entire page */
#loading {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #101010;
  transition: opacity 0.5s linear;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

::-webkit-scrollbar {
  display: none;
}
