@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');

* {
  text-rendering: optimizeLegibility;
  margin: 0;
  scrollbar-width: none;
  cursor: default;
}

svg {
  font-family: 'Songti SC', 'Noto Serif SC', serif;
}

.idiom-row {
  width: 100vw;
  margin: 0 auto;
  animation: stretchWidth 5s infinite;
  -webkit-animation: stretchWidth 5s infinite;
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

.idiom-row:hover {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

#backward {
  z-index: -50;
  position: fixed;
  left: 0;
  bottom: 0;
  fill: #d72323;

  background: transparent;
  animation: backgroundColor 30s linear 0.01s infinite;
  -webkit-animation: backgroundColor 30s linear 0.01s infinite;
}

#forward {
  fill: #3d5af1;
  mix-blend-mode: exclusion;
}

@keyframes stretchWidth {
  0% {
    width: 100vw;
  }
  50% {
    width: 30vw;
  }
  100% {
    width: 100vw;
  }
}

@keyframes backgroundColor {
  0% {
    background: transparent;
  }
  50% {
    background: white;
  }
  100% {
    background: transparent;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
